@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background: rgb(54,14,97);
    background: linear-gradient(117deg, rgba(54,14,97,1) 0%, rgba(65,0,255,1) 73%);
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.container{
    background: black;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem;
}


.title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}


.form{
    background: black;
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

input{
    background: white;
    padding: .5rem;
    border-radius: .75rem;
    border: 1px solid black;
    color: black;
}

input::placeholder{
    color: rgb(179, 179, 179);
}

#btnRegister{
    background: rgb(3, 3, 206);
    color: #fff;
    border-radius: .5rem;
    padding: .5rem 1rem;
    border: 1px solid black;
}

#btnRegister:hover{
    background: rgb(42, 11, 75);
    background: linear-gradient(117deg, rgb(36, 10, 65) 0%, rgb(51, 5, 190) 73%);
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}


th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 0.25px solid #ddd;
}


.delete {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.delete:hover {
    background-color: darkred;
}


